<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hastane_Sistemi.Properties.Settings.HastaneSistemiConnectionString"
            connectionString="Data Source=EMRE_SEFEROGLU\SQLEXPRESS;Initial Catalog=HastaneSistemi;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>